#profilePic {
    /*border: 10px solid var(--main-border-color);*/
    border-radius: 50%;
    display: block;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.bg-primary{
    background-color: #482C3D;
    padding: 25px 0;
}

.img-size {
    height: 150px;
    width: 150px;
}

/* Style buttons */
.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}