<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="partials :: head"></div>
<head>
    <meta charset="UTF-8">
    <title>All Friends</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>

<div>
    <h1>List of All Users</h1>
</div>


<!--<h1>Search Clubs</h1>-->


<form th:action="@{/search_users}">
    Filter:
    <input type="text" name="keywordUser" th:value="${keywordUser}" required/>
    <br>
    <input type="submit" value="Search"/>
    <br>
    <input type="button" value="Clear" onclick="clearFilter()"/>
</form>

<!--        <tbody>-->
<!--<div th:each="user: ${showEveryoneFromSite}">-->
<!--    &lt;!&ndash;            <p th:text="${user.id}">User ID</p>&ndash;&gt;-->
<!--    First Name: <p th:text="${user.firstName}"></p>-->
<!--    Last Name: <p th:text="${user.lastName}"></p>-->
<!--    Email: <p th:text="${user.username}"></p>-->
<!--&lt;!&ndash;    Id: <a th:text="${user.id}" ></a> &ndash;&gt;-->
<!--&lt;!&ndash;    adding 'hidden' after '.id}"' hides the id&ndash;&gt;-->

<!--     <a th:text="${user.id}" th:href="@{/selected_friend_by_id_from_user}" >Add Friend</a>-->

<!--    <ul>-->
<!--&lt;!&ndash;        <form th:action="@{/add_friend}" th:method="post">&ndash;&gt;-->
<!--        <form th:action="@{/add_friend}" >-->
<!--        <button class="btn-link btn">Add Friend</button>-->
<!--        </form>-->
<!--    </ul>-->
    <br>
</div>

<!--<div th:each="user: ${listAllUsersToThePage}">-->
<!--    &lt;!&ndash;            <p th:text="${user.id}">User ID</p>&ndash;&gt;-->
<!--    First Name: <p th:text="${user.firstName}"></p>-->
<!--    Last Name: <p th:text="${user.lastName}"></p>-->
<!--    Email: <p th:text="${user.username}"></p>-->
<!--    Id: <p th:text="${user.id}"></p>-->
<!--&lt;!&ndash;    <a th:text="${user.id}" th:href="@{/selected_friend_by_id_from_user}" >Add Friend</a>&ndash;&gt;-->

<!--    <ul>-->
<!--&lt;!&ndash;        <form th:action="@{/add_friend}" th:method="post">&ndash;&gt;-->
<!--        <form th:action="@{/selected_friend_by_id_from_user}">-->
<!--            <button class="btn-link btn">Add Friend</button>-->
<!--        </form>-->
<!--    </ul>-->
<!--    <br>-->
<!--</div>-->

<!--<form  action="#" th:each="user: ${listAllUsersToThePage}" th:action="@{/selected_friend_by_id_from_user}" th:object="${listAllUsersToThePage}" method="post">-->
<!--    First Name: <p th:text="${user.firstName}"></p>-->
<!--    Last Name: <p th:text="${user.lastName}"></p>-->
<!--    Email: <p th:text="${user.username}"></p>-->
<!--    Id: <p th:text="${user.id}"></p>-->

<!--&lt;!&ndash;    <button  type="submit">Add Friend</button>&ndash;&gt;-->
<!--</form>-->

<!--<tr  th:each="user: ${listAllUsersToThePage}" th:object="${listAllUsersToThePage}" >-->
<!--    First Name: <p th:text="${user.firstName}"></p>-->
<!--    Last Name: <p th:text="${user.lastName}"></p>-->
<!--    Email: <p th:text="${user.username}"></p>-->
<!--    Id: <p th:text="${user.id}"></p>-->

<!--    &lt;!&ndash;    <button  type="submit">Add Friend</button>&ndash;&gt;-->
<!--    <form th:action="'selected_friend_by_id_from_user' + ${user.id()}" method="post">-->
<!--        <button>Add Friend</button>-->
<!--    </form>-->
<!--</tr>-->


<form  th:each="user: ${listAllUsersToThePage}" th:object="${listAllUsersToThePage}" th:name="addedUser" th:method="post">
    First Name: <span th:text="${user.firstName}"></span>
    Last Name: <span th:text="${user.lastName}"></span>
    Email: <span th:text="${user.username}"></span>
    Id: <span th:text="${user.id}"></span>
        <span>
<!--        <button  th:action="@{tryThisOne/}"  type="submit">Add Friend</button>-->
    <a th:name="addedUser"  th:href="@{'selected_friend_by_id_from_user/' + ${user.getId}}" th:method="post">Add Friend</a>
        </span>
</form>

<!--<form th:action="${'selected_friend_by_id_from_user/'}" th:object="${listAllUsersToThePage}" th:each="user: ${listAllUsersToThePage}" th:name="addedUser" method="post" >-->
<!--    <input name="personFirstName" th:value="${user.firstName}" required>-->
<!--    <input name="personLastName" th:value="${user.lastName}" required>-->
<!--    <input name="personId" th:value="${user.id}" required>-->

<!--    <input name="friendID" type="hidden" th:value="${user.id}">-->

<!--    <button th:href="@{'selected_friend_by_id_from_user/' + ${user.getId}}" type="submit">Submit Friend</button>-->
<!--</form>-->


<script type="text/javascript">
    function clearFilter(){
        window.location = '/view_all_users'
    }
</script>

</body>
</html>