<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="partials :: head"></div>
<head>
    <meta charset="UTF-8">
    <title>All Friends</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>

<div>
    <h1>List of All Users</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <form th:action="@{/friends_homepage}">
            <button class="btn-link btn">Go Back</button>
        </form>
    </div>
</div>
<!--<h1>Search Clubs</h1>-->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <form th:action="@{/search_users}">
                <input type="text" value="Search Friends" name="keywordUser" th:value="${keywordUser}" required/>
                <br>
                <input type="submit" value="Search"/>
                <br>
                <input type="button" value="Clear" onclick="clearFilter()"/>
            </form>
        </div>
    </div>
    <br>

    <div class="container">
        <!--        <div class="row">-->
        <form th:each="user: ${revealAllUsers}" th:object="${revealAllUsers}">
            <div class="row">
                <span th:text="${user.firstName} + ' ' + ${user.lastName}"></span>
                <!--            Last Name: <span th:text="${user.lastName}"></span>-->
            </div>
            <div class="row">
                <span th:text="${user.username}"></span>
            </div>
            <!--                <div class="row">-->
            <!--                    Id: <span th:text="${user.id}"></span>-->
            <!--                </div>-->
            <div class="row">
                <!--        <button  th:action="@{tryThisOne/}"  type="submit">Add Friend</button>-->
                <a th:href="@{'selected_friend_by_id_from_user/' + ${user.getId}}" th:method="post">Select
                    Friend</a>
            </div>
            <br>
        </form>
        <!--        </div>-->
        <br>
    </div>

    <div class="container">
        <form th:each="user: ${listAllUsersToThePage}" th:object="${listAllUsersToThePage}" th:name="addedUser"
              th:method="post">
            <div class="row">
                <span th:text="${user.firstName} + ' ' + ${user.lastName}"></span>
            </div>
            <div class="row">
                <span th:text="${user.username}"></span>
            </div>
<!--            <div class="row">-->
<!--                Id: <span th:text="${user.id}"></span>-->
<!--            </div>-->
            <div class="row">
                <!--        <button  th:action="@{tryThisOne/}"  type="submit">Add Friend</button>-->
                <a th:name="addedUser" th:href="@{'selected_friend_by_id_from_user/' + ${user.getId}}" th:method="post">Select
                    Friend</a>
            </div>
            <br>
        </form>
        <!--    </div>-->
        <br>
    </div>
</div>

<script type="text/javascript">
    function clearFilter() {
        window.location = '/view_all_users'
    }
</script>
<script th:fragment="bootstrapSrc" src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script th:fragment="bootstrapSrcTwo"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>
</html>

<!--<div th:each="user: ${listAllUsersToThePage}">-->
<!--    &lt;!&ndash;            <p th:text="${user.id}">User ID</p>&ndash;&gt;-->
<!--    First Name: <p th:text="${user.firstName}"></p>-->
<!--    Last Name: <p th:text="${user.lastName}"></p>-->
<!--    Email: <p th:text="${user.username}"></p>-->
<!--    Id: <p th:text="${user.id}"></p>-->
<!--&lt;!&ndash;    <a th:text="${user.id}" th:href="@{/selected_friend_by_id_from_user}" >Add Friend</a>&ndash;&gt;-->

<!--    <ul>-->
<!--&lt;!&ndash;        <form th:action="@{/add_friend}" th:method="post">&ndash;&gt;-->
<!--        <form th:action="@{/selected_friend_by_id_from_user}">-->
<!--            <button class="btn-link btn">Add Friend</button>-->
<!--        </form>-->
<!--    </ul>-->
<!--    <br>-->
<!--</div>-->

<!--<form  action="#" th:each="user: ${listAllUsersToThePage}" th:action="@{/selected_friend_by_id_from_user}" th:object="${listAllUsersToThePage}" method="post">-->
<!--    First Name: <p th:text="${user.firstName}"></p>-->
<!--    Last Name: <p th:text="${user.lastName}"></p>-->
<!--    Email: <p th:text="${user.username}"></p>-->
<!--    Id: <p th:text="${user.id}"></p>-->

<!--&lt;!&ndash;    <button  type="submit">Add Friend</button>&ndash;&gt;-->
<!--</form>-->

<!--<tr  th:each="user: ${listAllUsersToThePage}" th:object="${listAllUsersToThePage}" >-->
<!--    First Name: <p th:text="${user.firstName}"></p>-->
<!--    Last Name: <p th:text="${user.lastName}"></p>-->
<!--    Email: <p th:text="${user.username}"></p>-->
<!--    Id: <p th:text="${user.id}"></p>-->

<!--    &lt;!&ndash;    <button  type="submit">Add Friend</button>&ndash;&gt;-->
<!--    <form th:action="'selected_friend_by_id_from_user' + ${user.id()}" method="post">-->
<!--        <button>Add Friend</button>-->
<!--    </form>-->
<!--</tr>-->

<!--<form th:action="${'selected_friend_by_id_from_user/'}" th:object="${listAllUsersToThePage}" th:each="user: ${listAllUsersToThePage}" th:name="addedUser" method="post" >-->
<!--    <input name="personFirstName" th:value="${user.firstName}" required>-->
<!--    <input name="personLastName" th:value="${user.lastName}" required>-->
<!--    <input name="personId" th:value="${user.id}" required>-->

<!--    <input name="friendID" type="hidden" th:value="${user.id}">-->

<!--    <button th:href="@{'selected_friend_by_id_from_user/' + ${user.getId}}" type="submit">Submit Friend</button>-->
<!--</form>-->