<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="partials :: head"></div>
<head>
    <meta charset="UTF-8">
    <title>Chosen Friend</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>

    <h1>You Chose:</h1>

<h3>ALTERNATE POST TRY, however it doesn't bring up the searched friend</h3>

<!--<form  th:action="@{/selected_friend_by_id_from_user/}" th:method="post" >-->
<!--    <input type="hidden" th:name="addedFriend" th:value="${friendOfFriends.getId()}" />-->
<!--    <button  type="submit"  th:text="${friendOfFriends.getId()}"></button>-->
<!--</form>-->

<form  th:action="@{/tryThisOne/}" th:method="post" >
    <input type="hidden" th:name="addedFriend" th:value="${id}" />
    <button  type="submit"  th:text="${id}"></button>
</form>

<br>
<br>
<br>


<!--<form  th:action="@{/selected_friend_by_id_from_user/}" th:method="post" th:object="${friendOfFriends}">-->
<!--        <div>-->
<!--            <input type="text" th:field="*{getId()}" >-->
<!--        </div>-->




<br>
<br>
DONT CLICK THESE ONES BELOW:
<ul>
    <!--    <form th:action="@{/view_all_users}" >-->
    <form th:action="@{/friends/homepage}" >
        <button class="btn-link btn">Add Friend</button>
    </form>
</ul>

<ul>
    <!--    <form th:action="@{/view_all_users}" >-->
    <form th:action="@{/friends_homepage}" >
        <button class="btn-link btn">Go Back</button>
    </form>
</ul>

</body>
</html>