<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="partials :: head"></div>
<head>
    <meta charset="UTF-8">
    <title>Friends Home</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>

<h1>This will be where all users friends are!</h1>

<ul>
    <form th:action="@{/view_all_users}">
        <!--    <form th:action="@{/friends_homepage}" >-->
        <button class="btn-link btn">Search Friends</button>
    </form>
</ul>


<div th:each="friend : ${showEveryUserFriend}">
    <!--    <p th:text="${friend.getFriendAdded().getFirstName()}"></p>-->
    <!--    <p th:text="${friend.getFriendAdded().getLastName()}"></p>-->
    <!--    <p th:text="${friend.getFriendAdded().getFirstName()}"></p>-->
    <p th:text="${friend.getFriendAdded().getFirstName()}"></p>
    <p th:text="${friend.getFriendAdded().getLastName()}"></p>

    <!--    Body: <p th:text="${friend.get}"></p>-->
    <!--    Person Posting:<p th:text="${post.getUser().getFirstName} + ' ' + ${post.getUser().getLastName}"></p>-->
    <form th:action="'/friends/delete/' + ${friend.getId()}" method="post">
        <button>Delete</button>
    </form>
</div>


<!--<div  th:each="user : ${allUsers}" >-->
<!--    <form style="padding: 10px" th:action="@{/tryThisOne}" th:method="post" >-->
<!--        <input type="hidden" th:name="addedUser" th:value="${user.getId()}" />-->
<!--        <button  type="submit"  class="btn btn-info"  th:text="${user.getUsername()}"></button>-->
<!--    </form>-->
<!--</div>-->

<!--MY FRIEND??-->
<!--Friend: <p th:text="${friendDao.getId()}"></p>-->


</body>
</html>