<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Friend Page</title>
    <div th:insert="partials :: head"></div>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>

MY FRIEND??
<!--Friend: <p th:text="${seeMyFriend.id}"></p>-->
Under hERE
<tr th:each="friend : ${friendSee}">
    Years Active: <p th:text="${friend.id}"></p>
    Belt Rank: <p th:text="${friendSee.getId}"></p>
    Location: <p th:text="${friendSee.id}"></p>
</tr>
Above Here

<script th:fragment="bootstrapSrc" src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script th:fragment="bootstrapSrcTwo" src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>
</html>