<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit Biography</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>

<H1>SHOULD SEE BIOGRAPHY PAGE</H1>

<!--<form th:action="@{/profile/biography}" th:method="post" th:object="${bio}">-->
<!--    <label name="postYears">Years Active:</label>-->
<!--    <input type="text" th:field="*{years}" id="postYears">-->

<!--    <label name="postRank">Rank:</label>-->
<!--    <input type="text" th:field="*{rank}" id="postRank">-->

<!--    <button type="submit">Submit Post</button>-->
<!--</form>-->

</body>
</html>