<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="partials :: head"></div>
<head>
    <meta charset="UTF-8">
    <title>Pictures</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>


<div class="container-fluid createAndEdit">
    <!--    <label for="imageFile"></label>-->
    <div class="container">
        <form th:action="@{/fileUpload}" method="post" th:object="${user}">
            <div class="file-field">
                <div class="row">
                    <div class="btn btn-primary" id="profilePic">
                        <span>Choose file</span>
                    </div>
                    <br>
                </div>
                <div class="row">
                    <div class="file-path-wrapper">
                        <br>
                        <input class="file-path" id="imageFile" th:field="*{profileImage}" type="text"
                               placeholder="Upload Image">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <button type="submit">Submit edit</button>
            </div>
        </form>
    </div>
</div>


<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>


<script th:inline="javascript">
    const client = filestack.init("AqGAcxAgFSMy3jPbAGB0Jz");

    document.getElementById("profilePic").addEventListener('click', () => {
        client.picker({
            accept: 'image/*',
            onFileUploadFinished: function (file) {
                let imageFile = document.getElementById("imageFile");
                imageFile.value = file.url;
            }
        }).open();
    });
    const options = {
        onUploadDone: updateForm,
        maxSize: 10 * 1024 * 1024,
        accept: 'image/*',
        uploadInBackground: false,
    };
    const picker = client.picker(options);

    // Get references to the DOM elements

    const form = document.getElementById('pick-form');
    const fileInput = document.getElementById('fileupload');
    const btn = document.getElementById('picker');
    const nameBox = document.getElementById('nameBox');
    const urlBox = document.getElementById('urlBox');

    // Add our event listeners

    btn.addEventListener('click', function (e) {
        e.preventDefault();
        picker.open();
    });

    form.addEventListener('submit', function (e) {
        e.preventDefault();
        alert('Submitting: ' + fileInput.value);
    });

    // Helper to overwrite the field input value

    function updateForm(result) {
        const fileData = result.filesUploaded[0];
        fileInput.value = fileData.url;

// Some ugly DOM code to show some data.
        const name = document.createTextNode('Selected: ' + fileData.filename);
        const url = document.createElement('a');
        url.href = fileData.url;
        url.appendChild(document.createTextNode(fileData.url));
        nameBox.appendChild(name);
        urlBox.appendChild(document.createTextNode('Uploaded to: '));
        urlBox.appendChild(url);


        console.log("fileInput.value *******************" + fileInput.value)
        console.log("url===============" + url)
    }


</script>


<script th:fragment="bootstrapSrc" src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script th:fragment="bootstrapSrcTwo" src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>
</html>