<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="partials :: head"></div>
<head>
    <meta charset="UTF-8">
    <title>Pictures</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>

THIS SHOULD SHOW PICTURE UPLOAD
<br>


<div class="box">
<!--    <form id="pick-form">-->
        <form is="pick-form" th:action="@{/imageToPostToTable}" method="POST" th:object="${userProfileUploadButton}">

        <div class="field">
            <div class="control">
                <button class="button" type="button" id="picker">Pick file</button>
                <input type="hidden" id="fileupload">
            </div>
            <div class="control" id="nameBox"></div>
            <div class="control" id="urlBox"></div>
        </div>
        <div class="field">
            <div class="control">
                <input class="button" type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>


<!--<div>-->
<!--    &lt;!&ndash;<form th:action="@{/create_group_info}" th:method="post" th:object="${user}" id="profilePic">&ndash;&gt;-->
<!--    <form th:action="@{/create_group_info}" id="profilePic">-->
<!--        <label for="fileupload">Choose a File to Upload:</label>-->
<!--        <input type="hidden" id="fileupload">-->
<!--        <button class="button" type="button" id="picker">Choose a File</button>-->
<!--        <input class="button" type="submit" value="Submit">-->
<!--    </form>-->
<!--</div>-->

<br>

<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script>
    const client = filestack.init("AqGAcxAgFSMy3jPbAGB0Jz");
    const options = {
        onUploadDone: updateForm,
        maxSize: 10 * 1024 * 1024,
        accept: 'image/*',
        uploadInBackground: false,
    };
    const picker = client.picker(options);

    // Get references to the DOM elements

    const form = document.getElementById('pick-form');
    const fileInput = document.getElementById('fileupload');
    const btn = document.getElementById('picker');
    const nameBox = document.getElementById('nameBox');
    const urlBox = document.getElementById('urlBox');

    // Add our event listeners

    btn.addEventListener('click', function (e) {
        e.preventDefault();
        picker.open();
    });

    form.addEventListener('submit', function (e) {
        e.preventDefault();
        alert('Submitting: ' + fileInput.value);
    });

    // Helper to overwrite the field input value

    function updateForm(result) {
        const fileData = result.filesUploaded[0];
        fileInput.value = fileData.url;

        // Some ugly DOM code to show some data.
        const name = document.createTextNode('Selected: ' + fileData.filename);
        const url = document.createElement('a');
        url.href = fileData.url;
        url.appendChild(document.createTextNode(fileData.url));
        nameBox.appendChild(name);
        urlBox.appendChild(document.createTextNode('Uploaded to: '));
        urlBox.appendChild(url);
    };
</script>
</body>
</html>