<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="partials :: head"></div>
<head>
<meta charset="UTF-8">
<title>Profile</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>

<h1>THIS should HAVE the EDITED bio WITH updated INFO</h1>


PIC WILL GO BELOW HERE
<br>
<form action="/fileupload" method="POST" enctype="multipart/form-data">
    <label for="file">Upload a file!</label>
    <input id="file" name="filePicYou" type="file" />
    <br />
    <input type="submit" value="upload" />
</form>
<br>
PIC WILL GO ABOVE HERE


<br>
<h2><span th:text="${#authentication.principal.firstName + ' ' + #authentication.principal.lastName}"></span>, profile</h2>
<br>
<h4> NEED TO HAVE BIO LISTED BELOW</h4>
<br>
<tr th:each="post : ${postSpecificUser}">
    Years Active: <p th:text="${post.getYears}"></p>
    Belt Rank: <p th:text="${post.getBeltRank}"></p>
    Location: <p th:text="${post.getLocation}"></p>
    Gym Name: <p th:text="${post.gymName}"></p>
</tr>
<br>

<!--<h2><a th:href="@{/editBio}">Edit Biography</a></h2>-->


<ul>
    <form th:action="@{/editBio}">
        <button class="btn-link btn">Edit Biography</button>
    </form>
</ul>
<ul>
    <form th:action="@{/groups}" th:method="post">
        <button class="btn-link btn">Groups</button>
    </form>
</ul>
<ul>
    <form th:action="@{/friends}" th:method="post">
        <button class="btn-link btn">Friends</button>
    </form>
</ul>
<ul>
    <form th:action="@{/media}" th:method="post">
        <button class="btn-link btn">Media</button>
    </form>
</ul>

<br>
<h3> POSTS WILL BE LISTED HERE </h3>
<br>

<tr th:each="post : ${postBySpecificUserProfileEdited}">
    Title: <p th:text="${post.getTitle}"></p>
    Body: <p th:text="${post.getBody}"></p>
    Person Posting:<p th:text="${post.getUser().getFirstName} + ' ' + ${post.getUser().getLastName}"></p>

    <form th:action="'/posts/edit/' + ${post.getId()}" method="get">
        <button>Edit</button>
    </form>

    <form th:action="'/posts/delete/' + ${post.getId()}" method="post">
        <button>Delete</button>
    </form>
    <a th:href="@{'/posts/' + ${post.getId()}} ">View Single Post</a>

    <br>

</tr>

<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
</body>
</html>