<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit blah</title>
<div th:insert="partials :: head"></div>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>

<form th:action="${'/will_this_work'}" method="post">
    <label name="postTitle">Title of Post:</label>
    <input name="postTitle" th:value="${postEdit.getTitle()}" required>

    <label name="postBody">Body of Post:</label>
    <input name="postBody" th:value="${postEdit.getBody()}" required>

    <input name="postId" type="hidden" th:value="${postEdit.getId()}">

    <button type="submit">Submit Edit</button>
</form>


<!--////////////////THIS DOES A SINGLE POST BY A SPECIFIC USER, AND IT POSTS TO THE DATABASE, BUT DOESN'T SHOW UP ON ALLPOSTS!!!! THEREFORE THIS MIGHT BE USEFUL FOR SINGLE POSTS ON USERS HOMEPAGE-->
<!--<form th:action="@{/posts/edit}" th:method="post" th:object="${post}">-->
<!--    Title:-->
<!--    <input type="text" th:field="*{title}" />-->
<!--    <br />-->
<!--    Description:-->
<!--    <input type="text" th:field="*{body}" />-->
<!--    <br />-->
<!--    <input type="submit" />-->
<!--</form>-->

<!--<button type="submit">Submit edit</button>-->


</body>
</html>