<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="partials :: head"></div>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>

<h1>THIS WILL BE THE USERS PROFILE WITH THEIR OWN POSTS, not all post</h1>
<h4> NEED TO HAVE BIO LISTED BELOW</h4>



<!--<div>-->
<!--<div>-->
<tr th:each="post : ${userSpecificBio}">
    Years Active: <p th:text="${post.getYears}" ></p>
</tr>

<!--    Body: <p th:text="${post.getBeltRank}"></p>-->
<!--</div>-->

<!--    <tr th:method="get" th:each="team : ${userSpecificBio}">-->
<!--        <td th:text="${team.years}"></td>-->
<!--    <td th:text="${team.getYears}"></td>-->
<!--    <td th:text="${team.setYears}"></td>-->
<!--    <td th:text="${years}"></td>-->
<!--        <td th:text="${userSpecificBio.years}"></td>-->
<!--        <td th:text="${ userEditBio.setYears(team.getYears())}"></td>-->
<!--        <td th:text="${ userSpecificBio.setYears(team.getYears())}"></td>-->





<!--Years Active:-->
<!--<br>-->
<!--Belt/Rank:-->
<!--<br>-->
<!--Location:-->
<!--<br>-->
<!--Gym Name:-->


<h2><a th:href="@{/editBio}">Edit Biography</a></h2>


<ul>
    <form th:action="@{/profile/biography}">
        <button class="btn-link btn">Edit Biography</button>
    </form>
</ul>
<ul>
    <form th:action="@{/groups}" th:method="post">
        <button class="btn-link btn">Groups</button>
    </form>
</ul>
<ul>
    <form th:action="@{/friends}" th:method="post">
        <button class="btn-link btn">Friends</button>
    </form>
</ul>
<ul>
    <form th:action="@{/media}" th:method="post">
        <button class="btn-link btn">Media</button>
    </form>
</ul>


<!--    <div sec:authorize="isAuthenticated()">-->
<!--            <h1>User ID: <span th:text="${#authentication.principal.id}"></span></h1>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<tr th:each="post : ${postBySpecificUser}">
    Title: <p th:text="${post.getTitle}" ></p>
    Body: <p th:text="${post.getBody}"></p>
    POSTER 1000:<p th:text="${post.getUser().getFirstName} + ' ' + ${post.getUser().getLastName}"></p>

    <form th:action="'/posts/edit/' + ${post.getId()}" method="get">
        <button>Edit</button>
    </form>

    <form th:action="'/posts/delete/' + ${post.getId()}" method="post">
        <button>Delete</button>
    </form>
    <a th:href="@{'/posts/' + ${post.getId()}} ">View Single Post</a>

    <br>

</tr>
<!--</div>-->






</body>
</html>