<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="partials :: head"></div>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>

<h1>THIS WILL BE THE USERS PROFILE WITH THEIR OWN POSTS, not all post</h1>
<ul>
    <form th:action="@{/biography}" th:method="post">
        <button class="btn-link btn">Biography</button>
    </form>
</ul>
<ul>
    <form th:action="@{/groups}" th:method="post">
        <button class="btn-link btn">Groups</button>
    </form>
</ul>
<ul>
    <form th:action="@{/friends}" th:method="post">
        <button class="btn-link btn">Friends</button>
    </form>
</ul>
<ul>
    <form th:action="@{/media}" th:method="post">
        <button class="btn-link btn">Media</button>
    </form>
</ul>


<div>
    <div sec:authorize="isAuthenticated()">
<!--        <div th:object="${postOwner}">-->
            <h1>User ID: <span th:text="${#authentication.principal.id}"></span></h1>
<!--            <h5 class="hide">User ID: <span th:text="${#authentication.principal.title}"></span></h5>-->
<!--            <h5 class="hide">User ID: <span th:text="${#authentication.principal.body}"></span></h5>-->
        </div>
    </div>
</div>



</body>
</html>