<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="partials :: head"></div>
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>
THIS WILL BE FORM WHERE USERS CREATE GROUP

<form th:action="@{/create_group_info}" th:method="post" th:object="${club}">
    <label name="groupName">Group Name:</label>
    <input type="text" th:field="*{clubName}" id="groupName" required>

    <label name="groupLocation">Location:</label>
    <input type="text" th:field="*{clubLocation}" id="groupLocation" required>

    <label name="groupDescription">Description:</label>
    <input type="text" th:field="*{clubDescription}" id="groupDescription" required>

    <button type="submit">Submit Post</button>
</form>


</body>
</html>