<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Group</title>
    <div th:insert="partials :: head"></div>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>

CAN YOU SEE THIS EDIT GROUP Page?

<!--<form th:action="${'/club/edit/now'}" method="post">--> //maybe need to add th object="${id}" or club
<form th:action="${'/please_work'}" method="post">
    <label name="clubName">Group Name:</label>
    <input name="clubName" th:value="${clubEdit.getClubName()}" required>

    <label name="clubLocation">Location:</label>
    <input name="clubLocation" th:value="${clubEdit.getClubLocation()}" required>

    <label th:name="clubDescription">Description:</label>
    <input name="clubDescription" th:value="${clubEdit.getClubDescription()}" required>

    <input name="postId" type="hidden" th:value="${clubEdit.getId()}">

    <button type="submit">Submit Edit</button>
</form>

<!--<form th:action="@{/please_work}" th:method="post" th:object="${clubEdit}">-->
<!--    Group Name:-->
<!--    <input type="text" th:field="*{clubName}" />-->
<!--    <br />-->
<!--    Location:-->
<!--    <input type="text" th:field="*{clubLocation}" />-->
<!--    <br />-->
<!--    Location:-->
<!--    <input type="text" th:field="*{clubDescription}" />-->
<!--    <br />-->
<!--    <input name="postId" type="hidden" th:value="${clubEdit.getId()}">&ndash;&gt;-->

<!--    <input type="submit" />-->
<!--</form>-->


</body>
</html>