<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="partials :: head"></div>
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>

THIS WILL BE THE GROUPS PAGE WHERE ALL GROUPS CREATED BY USER ARE LISTED
<br>
<ul>
    <!--    <form th:action="@{/groups}" th:method="post">-->
    <form th:action="@{/groups_create}">
        <button class="btn-link btn">Create Group</button>
    </form>
</ul>
<ul>
    <form th:action="@{/view_all_clubs}">
        <button class="btn-link btn">Search Groups</button>
    </form>
</ul>

<h3>Your Groups</h3>

<tr th:each="club : ${displaySpecificClub}">
Group Name: <p th:text="${club.getClubName()}"></p>
Group Location: <p th:text="${club.getClubLocation()}"></p>
Group Description: <p th:text="${club.getClubDescription()}"></p>
<!--Group Creator:<p th:text="${club.getUser().getFirstName} + ' ' + ${club.getUser().getLastName}"></p>-->

    <form th:action="'/club/edit/' + ${club.getId()}" method="get">
        <button>Edit</button>
    </form>

    <form th:action="'/club/delete/' + ${club.getId()}" method="post">
        <button>Delete</button>
    </form>
</tr>
<br>
<h1>ADDED GROUPS BELOW</h1>
<br>
<tr th:each="club : ${showTheNewlyAddedGroup}">
    <!--    <p th:text="${friend.getFriendAdded().getFirstName()}"></p>-->
    <!--    <p th:text="${friend.getFriendAdded().getLastName()}"></p>-->
    <!--    <p th:text="${friend.getFriendAdded().getFirstName()}"></p>-->
        <p th:text="${club.getClubJoined().clubBeingJoined}"></p>
<!--    <p th:text="${memb}"></p>-->



    <!--    <p th:text="${}"></p>-->

    <!--    Body: <p th:text="${friend.get}"></p>-->
    <!--    Person Posting:<p th:text="${post.getUser().getFirstName} + ' ' + ${post.getUser().getLastName}"></p>-->
</tr>
</body>
</html>

<!--<ul>-->
<!--    <form th:action="@{/editBio}">-->
<!--        <button class="btn-link btn">Create Group</button>-->
<!--    </form>-->
<!--</ul>-->
<!--<ul>-->
<!--    &lt;!&ndash;    <form th:action="@{/groups}" th:method="post">&ndash;&gt;-->
<!--    <form th:action="@{/groups_create}">-->
<!--        <button class="btn-link btn">Create Group</button>-->
<!--    </form>-->
<!--</ul>-->
<!--<ul>-->
<!--    <form th:action="@{/friends}" th:method="post">-->
<!--        <button class="btn-link btn">Friends</button>-->
<!--    </form>-->
<!--</ul>-->
