<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="partials :: head"></div>
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>

<div class="container-fluid">
    <div class="container">
        <div>
            <!--    <form th:action="@{/groups}" th:method="post">-->
            <form th:action="@{/groups_create}">
                <button class="btn-link btn">Create Group</button>
            </form>
        </div>
        <div>
            <form th:action="@{/view_all_clubs}">
                <button class="btn-link btn">Search Groups</button>
            </form>
        </div>

        <h2>Your Groups</h2>
<!--        <div class="container">-->
            <div th:each="club : ${displaySpecificClub}" class="container-fluid border-1">
                <div class="justify-content-center">
                    <div class="form-row">
                        <div class="col">
                            Group Name: <p th:text="${club.getClubName()}"></p>
                        </div>
                        <div class="col">
                            Group Location: <p th:text="${club.getClubLocation()}"></p>
                        </div>
                    </div>
                        <div class="row form-group justify-content-center">
                            <label for="bodyOfGroup"></label>
                            <textarea class="form-control" id="bodyOfGroup" rows="4"
                                      th:text="${club.getClubDescription()}"
                                      disabled></textarea>
                            <!--                        Group Description: <p th:text="${club.getClubDescription()}"></p>-->
                        </div>


                        <div class="row">
                            <!--                <form th:action="'/club/edit/' + ${club.getId()}" method="get">-->
                            <!--                    &lt;!&ndash;                <button>Edit</button>&ndash;&gt;-->
                            <!--                    <button class="btn"><i class="fa fa-pencil"></i></button>-->
                            <!--                </form>-->

                            <form th:action="'/club/delete/' + ${club.getId()}" method="post">
                                <!--                <button>Delete</button>-->
                                <button class="btn-lg"><i class="fa fa-trash"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                    <h2>Your Added Groups</h2>

                    <div th:each="club : ${showTheNewlyAddedGroup}">
                        <!--    <p th:text="${friend.getFriendAdded().getFirstName()}"></p>-->
                        <!--    <p th:text="${friend.getFriendAdded().getLastName()}"></p>-->
                        <!--    <p th:text="${friend.getFriendAdded().getFirstName()}"></p>-->
                        <p th:text="${club.getClubJoined().clubCreated}"></p>
                        <p th:text="${club.getUserJoining().clubCreated}"></p>
                        <p th:text="${club.getClubJoined().clubBeingJoined}"></p>


                        <!--            <p th:text="${club.getClubJoined().clubBeingJoined}"></p>-->
                        <!--            <p th:text="${club.getClubJoined().getClubCreated()}"></p>-->
                        <!--            <p th:text="${club.getClubJoined().getClubBeingJoined()}"></p>-->
                        <!--            <p th:text="${club.getClubJoined().getUserJoiningClub()}"></p>-->


                        <!--    <p th:text="${memb}"></p>-->


                        <!--    <p th:text="${}"></p>-->

                        <!--    Body: <p th:text="${friend.get}"></p>-->
                        <!--    Person Posting:<p th:text="${post.getUser().getFirstName} + ' ' + ${post.getUser().getLastName}"></p>-->
                    </div>
                </div>
            </div>
<!--        </div>-->
<!--    </div>-->
    <script th:fragment="bootstrapSrc" src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script th:fragment="bootstrapSrcTwo"
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>
</body>
</html>
