<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="partials :: head"></div>
<head>
    <meta charset="UTF-8">
    <title>Searched Groups</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>


<div>
    <h1>List of All Groups</h1>
</div>


<!--<h1>Search Clubs</h1>-->


    <form th:action="@{/search_clubs}">
        Filter:
        <input type="text" name="keyword" th:value="${keyword}" required/>
        <br>
        <input type="submit" value="Search"/>
        <br>
        <input type="button" value="Clear" onclick="clearFilter()"/>
    </form>

<!--        <tbody>-->
<div th:each="user: ${listEveryClub}">
    <!--            <p th:text="${user.id}">User ID</p>-->
    Group Name: <p th:text="${user.clubName}"></p>
    Location: <p th:text="${user.clubLocation}"></p>
    Description: <p th:text="${user.clubDescription}"></p>
    <ul>
        <form th:action="@{/join_group}" th:method="post">
            <button class="btn-link btn">Join Group</button>
        </form>
    </ul>
    <br>
</div>

<div th:each="user: ${listAllClubs}">
    <!--            <p th:text="${user.id}">User ID</p>-->
    Group Name: <p th:text="${user.clubName}"></p>
    Location: <p th:text="${user.clubLocation}"></p>
    Description: <p th:text="${user.clubDescription}"></p>
    <ul>
        <form th:action="@{/join_group}" th:method="post">
            <button class="btn-link btn">Join Group</button>
        </form>
    </ul>
    <br>
</div>
<!--        </tbody>-->

<script type="text/javascript">
    function clearFilter(){
        window.location = '/view_all_clubs'
    }
</script>
</body>
</html>