<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<nav th:fragment="navbar">
    <a href="#" class="brand-logo center">Welcome to Halfguard</a>
    <div class="nav-wrapper">
        <ul>
            <li><a class="nav-link" th:href="@{/}">Logout</a></li>
            <li><a class="nav-link" th:href="@{/posts/userProfile}">PROFILE PAGE(/posts/userProfile)</a></li>
            <li><a class="nav-link" th:href="@{/posts/create}">CREATE POSTS (/posts/create)</a></li>
            <li><a class="nav-link" th:href="@{/posts}">ALL POSTS (/posts)</a></li>
            <li><a class="nav-link" th:href="@{/posts/display}">Home (/posts/display)</a></li>

            <br>
<!--            <li><a class="nav-link" th:href="@{/templates/users}">Home to USERS PAGE (/templates/users)</a></li>-->
<!--            <li><a class="nav-link" th:href="@{/posts/edited/{id}}">Home DEUCE (/posts/edited/{id})</a></li>-->
<!--            <li><a class="nav-link" th:href="@{/posts/index/{id}}">Indes ID (/posts/index/{id})</a></li>-->
<!--            <li><a class="nav-link" th:href="@{/posts/edited_page}">Home DEUCE DEUCE (/posts/edited_page)</a></li>-->
<!--            <li><a class="nav-link" th:href="@{/posts/edit}">Edit Post (/posts/edit)</a></li>-->
<!--            <li><a class="nav-link" th:href="@{/posts/index}">Index Post??? (/posts/index)</a></li>-->
<!--            <li><a class="nav-link" th:href="@{/posts/{id}}">Should Take to Single Post (/posts/{id})</a></li>-->
<!--            <li><a class="nav-link" th:href="@{/posts/profile}">Test (/posts/userProfile)</a></li>-->


            <!--            <li><a class="nav-link" th:href="@{/posts/display}">Your Post</a></li>-->
            <!--            <li><a class="nav-link" th:href="@{/register}">Register</a></li>-->
        </ul>
    </div>


</nav>
</body>
</html>