<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<div th:insert="partials :: head"></div>-->

<head>
    <meta charset="UTF-8">
    <title>Register Now</title>
    <!--    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />-->
</head>
<body>
<!--<nav th:replace="partials :: navbar"></nav>-->

<!--<div class="container text-center">-->
    <div>
        <h1>Sign-Up Here</h1>
    </div>


    <form th:action="@{/process_registration}" method="POST" th:object="${user}">

            <label for="firstName">First Name</label>
            <input id="firstName" th:field="*{firstName}" required/>

            <label for="lastName">Last Name</label>
            <input id="lastName" th:field="*{lastName}" required/>

            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{username}" required/>

            <label for="password">Password</label>
            <input id="password" type="password" th:field="*{password}" required/>

            <div>
<!--                <button type="submit" class="btn btn-primary">Register</button>-->
                <input value="Sign me up!" type="submit" />

            </div>
        </div>
    </form>
<!--</div>-->



</body>
</html>